# This workflow installs Python and test dependencies, runs unit tests, and uploads coverage reports.
# Info: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Test Matrix and Coverage Reports
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      max-parallel: 8
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest==8.4.2 pytest-cov==6.2.1

      - name: Run unit tests
        run: pytest test/ --cov=changelist_init --cov-report=html --cov-fail-under=90

      - name: Upload Test Coverage Reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: changelist-init-cov-${{ matrix.os }}-${{ matrix.python-version }}
          path: htmlcov/
