## This workflow installs ruff lint checker to detect signs of potential (usually minor) issues.

name: Python Lint Check
on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install Linting Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff==0.14.10 --no-deps

      - name: Show Files To Be Linted
        run: ruff check --show-files

      - name: Ruff Statistics
        run: ruff check --statistics
        continue-on-error: true

      - name: Ruff Check Grouped Format
        run: ruff check --output-format=grouped
